*.xml
*.xsl
venv/
.DS_Store
.idea/
__pycache__/
identify-ai/*
*.log
*.pyc
*.yaml
*.json
*#
*~
*.pickle
*.old
*.txt
.vscode/
.pytest_cache/
.env
*.env
.pytest_cache
!dev.env
!docs/*.json
!docker-compose.yaml
!parser.template.env
!parser.template.yaml

